@import "fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: "Merriweather Sans", sans-serif;
}


body {
    height: 100vh;
    background: black;
}

.fs-28 {
    font-size: 28px;
}

.fs-20 {
    font-size: 20px;
}
