@import "fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: "Merriweather Sans", sans-serif;
}


body {
    height: 100vh;
    background: black;
}

.fs-28 {
    font-size: 28px;
}

.fs-20 {
    font-size: 20px;
}

/* header styles start */

.contacts__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 10vh;
    background-color: #333;
    border-left: 7px solid magenta;
    z-index: 9999;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin-right: 2vw;
}

.header__menu-list {
    display: flex;
    align-items: center;
    justify-items: center;
    list-style: none;
    text-decoration: none;
    gap: 2vh;
}

    .header__menu-list li {
        padding: 10px;
    }

        .header__menu-list li a {
            text-decoration: none;
        }
/* header styles end */