@import "fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: "Merriweather Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

h1, h2, h3 {
    color: white;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
